<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">

<head>
    <meta charset="UTF-8">
    <title>Basket</title>
</head>

<body>

<div th:fragment="content">

    <div class="container">
        <h2>Cart</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Prize:</th>
                    <th>Quantity:</th>
                    <th>Total:</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="itemInCart: ${session.itemInCartList}">
                    <td th:text="${itemInCart.productDto.getTitle()}"></td>
                    <td th:text="${itemInCart.productDto.getPrize()}"></td>
                    <td th:text="${itemInCart.getQuantity()}"></td>
                    <td th:text="${itemInCart.getQuantity() * itemInCart.getProductDto().getPrize()}"></td>

                    <td><form th:action="@{removeFromCart}" method="get">
                        <input th:type="hidden" th:name="id" th:value="${itemInCart.getProductDto().getId()}">
                        <input type="submit" value="Remove from cart">
                    </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>

        <form th:action="@{order}" method="get">
            <input type="submit" value="order now"><br>
        </form>
    </div>
</div>


</body>
</html>