<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>

</head>
<body>

<!--<div th:replace="fragments :: header"></div>-->
<div th:fragment="content"></div>


<!--<i class="fas fa-user"></i>-->
<!--<i class="far fa-user"></i>-->
<!--<i class="fal fa-user"></i>-->




<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-sm-4">-->
<!--                <h3>Column 1</h3>-->
<!--                <p>Lorem ipsum dolor..</p>-->
<!--            </div>-->
<!--            <div class="col-sm-4">-->
<!--                <h3>Column 2</h3>-->
<!--                <p>Lorem ipsum dolor..</p>-->
<!--            </div>-->
<!--            <div class="col-sm-4">-->
<!--                <h3>Column 3</h3>-->
<!--                <p>Lorem ipsum dolor..</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>