<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

<form th:action="@{productForm}" method="post" th:object="${productForm}">
    <label for="title">Title</label>
    <input id="title" type="text" th:field="*{title}"><br>
    <label for="description">Description</label>
    <input id="description" type="text" th:field="*{description}"><br>

    <label for="prize">Prize</label>
    <input id="prize" type="number" th:field="*{prize}"><br>

    <input type="submit"><br>
</form>

</body>
</html>