<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>

<div th:fragment="content">
    <div class="container">
        <h2>Your orders</h2>
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>Order ID:</th>
                    <th>Date:</th>
                    <th>Ordered items:</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order: ${orderList}">
                    <td th:text="${order.getId()}"></td>
                    <td th:text="${order.getDate()}"></td>
                    <td>
                        <table class="table table-condensed table-hover">
                            <tr>
                            <th>Name:</th>
                            <th>Prize:</th>
                            <th>Quantity:</th>
                            </tr>
                            <tr th:each="orderLine: ${order.getOrderLines()}">
                                <td th:text="${orderLine.getProduct().getTitle()}"></td>
                                <td th:text="${orderLine.getProduct().getPrize()}"></td>
                                <td th:text="${orderLine.getQuantity()}"></td>
                            </tr>
                            <tr><br></tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<br>
<br>
<br>
<br>
<a th:href="@{/productList}" >back to Shop</a>


</body>
</html>



<!--   <form th:action="@{addToCart}" method="get">-->
<!--                <input th:type="hidden" th:name="id" th:value="${product.id}">-->
<!--                <input type="submit" value="Add to cart">-->

<!--            </form>-->